{% extends "layout.html" %}
{% block content %}
<form method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-4">
      <input name="email" type="email" class="form-control" placeholder="Email" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      <input name="password" type="password" class="form-control" placeholder="Password" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">First name</label>
    <div class="col-sm-4">
      <input name="first_name" class="form-control" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Middle name</label>
    <div class="col-sm-4">
      <input name="middle_name" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Last name</label>
    <div class="col-sm-4">
      <input name="last_name" class="form-control" required>
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Birthday</label>
    <div class="col-sm-4">
      <input name="birthdate" class="form-control" placeholder="31-12-2000">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Account type</label>
    <div class="col-sm-4">
      <select name="user_type" class="form-control">
        <option>Viewer</option>
        <option>Contributor</option>
        <option>Reviewer</option>
        <option>Content manager</option>
      </select>
    </div>
  </div>

  <div id="varied_options">
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Working place name</label>
      <div class="col-sm-4">
        <input name="working_place_name" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Working place type</label>
      <div class="col-sm-4">
        <input name="working_place_type" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Working place description</label>
      <div class="col-sm-4">
        <input name="working_place_description" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <button id="user_type" type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
{%  endblock %}
<!--Add post request script-->
{% block scripts %}
<script src="{{url_for('static', filename='scripts/register.js')}}"></script>
{% endblock %}
