{% extends "layout.html" %}
{% block content %}
  <form method="post">
      <label for="user-type"> User Type</label>
      <select class="form-control">
        <option>Viewer</option>
        <option>Contributor</option>
        <option>Authorized Reviewer</option>
        <option>Content Manager</option>
      </select>

    <div class="user_credentials">
      <label for="email">E-mail</label>
      <input type="email" name="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" required>
      <label for="first_name">First Name</label>
      <input name="first_name" required>
      <label for="middle_name">Middle Name</label>
      <input name="middle_name" required>
      <label for="last_name">Last Name</label>
      <input name="last_name" required>s
      <label for="birthdate">Birth date</label>
      <input name="birthdate" required>
    </div>

    <div id="viewer_credentials">
      <label for="working_place_name">Working Place Name</label>
      <input name="working_palce_name">
      <label for="working_place_type">Working Place Type</label>
      <input name="working_place_type">
      <label for="working_place_description">Working Place Description</label>
      <input name="working_place_description">
    </div>

    <div class="contributor">
      <label for="specialization">Specilization</label>
      <input name="specilization">
      <label for="portfolio_link">Portfolio Link</label>
      <input name="portfolio_link">
      <label for="years_experience">Years Of Experience</label>
      <input name="years_experience">
    </div>

    <div class="staff">
      <label for="hire_date">Hire Date</label>
      <input name="hire_date">
      <label for="working_hours">working Hours</label>
      <input name="working_hours">
      <label for="payment_rate">Payment Rate</label>
      <input name="payment_rate">
      </div>
    <input type="submit" value="Register">
  </form>
{%  endblock %}
<!--Add post request script-->
{% block script %}{% endblock %}
