{% extends "layout.html" %}
{% block content %}
  <form method="post">
  {% for label, value in labels.items() %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="{{label}}">{{label}}</label>
      <div class="col-sm-4">
        {% if label in ('email', 'password') %}
          <input name="{{label}}" type="{{label}}" class="form-control" id="{{label}}" placeholder="{{value}}">
        {% elif label == 'birthday' %}
          <input name="{{label}}" type="date" class="form-control" id="{{label}}" placeholder="{{value}}">
        {% else %}
          <input name="{{label}}" class="form-control" id="{{label}}" type="text" placeholder="{{value}}">
        {% endif %}
      </div>
    </div>
  {% endfor %}
    <div class="form-group row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
{% endblock %}
