{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="jumbotron">
      <h1>Search</h1>
      <p class="lead"> for original content by its type or its category.</p>
      <p><a href="{url_for(home.oc-search)}" class="btn btn-primary btn-large">Go &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h1>Search</h1>
      <p class="lead">for a contributor by their name.</p>
      <p><a href="{url_for(home.contributor-search)}" class="btn btn-primary btn-large">Go &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron">
      <h1>Show</h1>
      <p class="lead">contributors in order of years of experience.</p>
      <p><a href="{url_for(home.show-contributors)}" class="btn btn-primary btn-large">Go &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
