{% extends "layout.html" %}
{% block content %}
<form method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">email</label>
    <div class="col-sm-4">
      <input name="email" type="email" class="form-control" placeholder="Email" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">password</label>
    <div class="col-sm-4">
      <input name="password" type="password" class="form-control" placeholder="Password" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">first name</label>
    <div class="col-sm-4">
      <input name="first name" class="form-control" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">middle name</label>
    <div class="col-sm-4">
      <input name="middle name" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">last name</label>
    <div class="col-sm-4">
      <input name="last name" class="form-control" required>
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">birthday</label>
    <div class="col-sm-4">
      <input name="birthday" type="date" class="form-control" placeholder="31-12-2000" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">account type</label>
    <div class="col-sm-4">
      <select name="type" class="form-control">
        <option value="viewer">viewer</option>
        <option value="contributor">contributor</option>
        <option value="reviewer">reviewer</option>
        <option value="content manager">content manager</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <button id="user_type" type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>
{%  endblock %}
